.footer{
  margin: 0 auto;
  padding: 0 180px;
  width: 1520px;
  padding-top: 40px;
  padding-bottom: 65px;
  display: flex;
  .footer-logo-block{
    margin-right: 110px;
    &__logo{
      width: 186px;
      height: 50px;
      margin-bottom: 30px;
      background-image: url('../image/logo.png');
      display: inline-block;
      text-decoration: none;
    }
    &__phone{
      font-size: 16px;
      color: #1e3162;
      margin-bottom: 35px;
      padding-left: 60px;
    }
    &__subscribe{
      font-size: 16px;
      color: #0e7aff;
      margin-bottom: 20px;
      padding-left: 60px;
    }
    &__input{
      background-color: #f9f9f9;
      width: 200px;
      height: 54px;
      border-radius: 24px;
      border: 1px solid #eeeeee;
      padding: 0 60px;
      font-size: 14px;
      color: #707070;
      outline: none;
      font-family: 'Exo 2', sans-serif;
      font-weight: normal;
    }
    &__button{
      background-image: url('../image/subscribe-icon.png');
      top: 0;
      left: 0;
      position: absolute;
      width: 59px;
      height: 59px;
      background-color: transparent;
      outline: none;
      cursor: pointer;
    }
  }
  .footer-column{
    margin-right: 110px;
    &:last-child{
      margin-right: 0;
    }
    &__list{
      list-style: none;
    }
    &__title{
      text-decoration: none;
      font-size: 16px;
      letter-spacing: 2px;
      margin-top: 10px;
      margin-bottom: 25px;
      color: #393939;
      display: inline-block;
      &:hover{
        color: #0e7aff;
      }
    }
    &__list-item{
      font-size: 14px;
      margin-bottom: 15px;
      &:last-child{
        margin-bottom: 0;
      }
    }
    &__list-item-link{
      text-decoration: none;
      display: inline-block;
      color: #707070;
      &:hover{
        color: #393939;
      }
    }
  }
}