.header{
  margin: 0 auto;
  padding: 0 180px;
  width: 1520px;
  .header-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
    &__logo-link{
      background-image: url('../image/logo.png');
      display: inline-block;
      width: 186px;
      height: 49px;
    }
    &__bar{
      display: flex;
      font-size: 16px;
    }
    &__bar-item{
      list-style: none;
      margin-right: 60px;
      cursor: pointer;
      padding-top: 25px;
      span{
        padding-right: 20px;
      }
      span:after{
        content: '';
        width: 9px;
        height: 5px;
        background-image: url('../image/arrow-down.png');
        position: absolute;
        top: 50%;
        margin-top: -2px;
        right: 0;
      }
      &:before{
        content: '';
        width: 100%;
        height: 2px;
        background-color: #0e7aff;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        transition: opacity 0.5s ease;
      }
      &:last-child{
        margin-right: 0;
      }
      &:hover{
        &:before{
          opacity: 1;
        }
      }
    }
    &__bar-item-link{
      text-decoration: none;
      color: #393939;
    }
  }
}