.first-screen{
  width: 100%;
  height: 980px;
  background-image: url('../image/header__backgr.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom right;
  &__content{
    margin: 0 auto;
    padding: 0 180px;
    width: 1520px;
  }
  &__title{
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    font-size: 36px;
    padding-top: 185px;
    padding-bottom: 100px;
    line-height: 54px;
    letter-spacing: 3px;
    span{
      display: block;
      letter-spacing: 4px;
    }
  }
  &__more{
    margin-bottom: 100px;
  }
  .first-screen-info{
    display: flex;
    padding-left: 14px;
    &__item{
      width: 160px;
      height: 160px;
      border: 1px solid #fff;
      margin-right: 40px;
      padding: 35px 15px 20px 15px;
      &:after{
        content: '';
        width: 160px;
        height: 160px;
        border: 1px solid #0e7aff;
        position: absolute;
        top: 10px;
        left: -14px;
      }
      &:last-child{
        margin-right: 0;
      }
    }
    &__icon{
      margin-bottom: 15px;
    }
    &__text{
      div:first-of-type{
        font-size: 18px;
        font-family: 'Exo 2 Medium', sans-serif;
      }
      div:nth-of-type(2){
        font-size: 18px;
        font-family: 'Exo 2 Light', sans-serif;
      }
    }
  }
  &__black-button{
    position: absolute;
    right: 0;
    bottom: 0;
  }
}
.button-more{
  display: inline-block;
  text-decoration: none;
  border: 2px solid #fff;
  border-radius: 25px;
  text-align: center;
  padding: 15px 35px;
  color: #393939;
  transition: all 0.3s ease;

  &__text{
    line-height: 1;
    font-size: 16px;
  }
  &:after{
    position: absolute;
    top: 50%;
    right: -25px;
    width: 50px;
    height: 2px;
    background-color: #0e7aff;
    content: '';
    transition: all 0.3s ease;
  }
  &:hover{
    &:after{
      width: 0;
    }
  }

}
.black-button{
  background-color: #393939;
  padding: 40px 100px;
  width: 840px;
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
  &__text{
    font-family: "Exo 2", sans-serif;
    letter-spacing: 2px;
    text-align: left;
    text-transform: uppercase;
    font-size: 24px;
    margin-right: 60px;
  }
  &__icon{
    width: 29px;
    height: 18px;
    transition: all 0.7s ease;
    transform: rotate(0deg);
  }
  &:hover{
    .black-button__icon{
      transform: rotate(360deg);
    }
  }
}
.for-clients{
  &__title{
    font-size: 36px;
    font-weight: normal;
    letter-spacing: 5px;
    padding: 115px 180px 75px 180px;
    width: 1520px;
    margin: 0 auto;
  }
  .for-clients-current{
    display: flex;
    justify-content: flex-start;
    &__image-wrapper{
      width: 50%;
      padding-right: 120px;
      height: 560px;
    }
    &__image{
      width: 100%;
      height: 100%;
      background-image: url('../image/current-clients-image.png');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
    &__right{
      width: 400px;
      padding-left: 20px;
    }
    &__title{
      font-size: 24px;
      font-weight: normal;
      margin-bottom: 40px;
      padding-right: 80px;
      &:after{
        content: '';
        background-image: url('../image/cityscape.png');
        width: 60px;
        height: 60px;
        position: absolute;
        top: 50%;
        margin-top: -30px;
        right: 0;
      }
    }
    &__list{
      list-style: none;
      margin-bottom: 45px;
    }
    &__list-item{
      font-size: 18px;
      margin-bottom: 25px;
      padding-left: 40px;
      &:before{
        content: '';
        position: absolute;
        height: 1px;
        width: 20px;
        background-color: #0e7aff;
        top: 50%;
        left: 0;
      }
    }
    &__more{
      border: 2px solid #0e7aff;
      margin-bottom: 40px;
    }
  }
  .for-clients-owners{
    display: flex;
    justify-content: flex-end;
    &__image-wrapper{
      width: 50%;
      padding-left: 120px;
      height: 560px;
    }
    &__image{
      width: 100%;
      height: 100%;
      background-image: url('../image/owners_image.png');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
    &__left{
      width: 580px;
      padding-top: 55px;
      padding-right: 120px;
    }
    &__title{
      font-size: 24px;
      font-weight: normal;
      margin-bottom: 40px;
      padding-left: 94px;
      &:after{
        content: '';
        background-image: url('../image/skyscraper.png');
        width: 54px;
        height: 60px;
        position: absolute;
        top: 50%;
        margin-top: -30px;
        left: 0;
      }
    }
    &__list{
      list-style: none;
      margin-bottom: 45px;
      padding-left: 94px;
    }
    &__list-item{
      font-size: 18px;
      margin-bottom: 25px;
      padding-left: 40px;
      &:before{
        content: '';
        position: absolute;
        height: 1px;
        width: 20px;
        background-color: #0e7aff;
        top: 50%;
        left: 0;
      }
    }
    &__more{
      border: 2px solid #0e7aff;
      margin-left: 94px;
    }
  }
}
.types{
  &__title{
    font-size: 36px;
    font-weight: normal;
    letter-spacing: 5px;
    padding: 115px 180px 75px 180px;
    width: 1520px;
    margin: 0 auto;
    span{
      color: #0e7aff;
    }
  }
  .types-list{
    display: flex;
    &__item-backgr{
      background: rgb(238, 238, 238);
      transition: background 0.5s ease;
      padding: 30px;
      height: 100%;
    }
    &__item{
      background-image: url('../image/types__backgr.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 33.33%;
    }
    &__item-inner{
      padding: 10px 15px 105px 65px;
      border: 1px solid transparent;
      transition: all 0.5s ease;
      height: 100%;
    }
    &__item-number{
      font-size: 108px;
      color: #d0d0d0;
      text-align: right;
      line-height: 90px;
      margin-bottom: 5px;
      transition: all 0.5s ease;
    }
    &__item-title{
      font-size: 24px;
      font-weight: normal;
      margin-bottom: 35px;
      transition: all 0.5s ease;
    }
    &__item-text{
      font-size: 16px;
      color: #666666;
      line-height: 32px;
      transition: all 0.5s ease;
    }
    &__item-backgr--animated{
      background: rgba(238, 238, 238, 0);
      .types-list__item-inner{
        border: 1px solid #fff;
      }
      .types-list__item-number,
      .types-list__item-title,
      .types-list__item-text{
        color: #fff;
      }
    }
  }
}
.about{
  overflow: hidden;
  .about-block{
    display: flex;
    justify-content: flex-end;
    background-color: #eeeeee;
    margin-top: 200px;
    padding-top: 75px;
    padding-bottom: 20px;
    &__descr{
      width: 700px;
      right: -120px;
    }
    &__title{
      font-size: 36px;
      color: #0e7aff;
      letter-spacing: 5px;
      margin-bottom: 50px;
      font-weight: normal;
    }
    &__preview{
      font-size: 24px;
      line-height: 48px;
      margin-bottom: 50px;
    }
    &__text{
      font-size: 16px;
      color: #666666;
      line-height: 32px;
    }
    &__image-wrapper{
      width: 50%;
      right: -120px;
      padding-left: 100px;
      padding-right: 120px;
      height: 760px;
    }
    &__image{
      background-image: url('../image/about__first.png');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
      margin-top: -155px;
    }
  }
  .about-more{
    display: flex;
    justify-content: flex-start;
    margin-top: -100px;
    &__button-wrapper{
      padding-right: 120px;
      width: 50%;
    }
    .black-button {
      width: 100%;
      height: 100px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding: 0 60px 0 0;
      text-decoration: none;
      color: #fff;
      &__text {
        font-family: "Exo 2", sans-serif;
        letter-spacing: 2px;
        text-align: left;
        text-transform: uppercase;
        font-size: 24px;
        margin-right: 30px;
      }
      &__icon {
        width: 29px;
        height: 18px;
      }
    }
    &__image{
      margin-left: 20px;
      width: 560px;
      height: 400px;
      background-image: url('../image/about__more.png');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
}
.news{
  margin: 0 auto;
  padding: 0 180px;
  width: 1520px;
  margin-bottom: 40px;
  .news-header{
    padding-top: 105px;
    padding-bottom: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__title{
      font-size: 36px;
      letter-spacing: 5px;
      font-weight: normal;
    }
    .button-more{
      border: 2px solid #0e7aff;
      margin-right: 23px;
    }
  }
  &__items-wrapper{
    font-size: 0;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -20px;

  }
  .news-item{
    flex-basis: 33.33%;
    padding-right: 20px;
    padding-left: 20px;
    display: inline-block;
    text-decoration: none;
    color: #393939;
    padding-top: 240px;
    &__image{
      position: absolute;
      top: 0;
      left: 20px;
      right: 20px;
      height: 240px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      transition: all 0.5s ease;
    }
    &__label{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 70px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding-left: 40px;
      background-color: #393939;
      opacity: 0;
      transition: all 0.5s ease;
    }
    &__label-text{
      font-size: 24px;
      color: #fff;
      margin-right: 15px;
      text-transform: uppercase;
      letter-spacing: 2px;
    }
    &__title{
      margin-top: 35px;
      font-size: 24px;
      margin-bottom: 10px;
    }
    &__date{
      font-size: 16px;
      color: #0e7aff;
      margin-bottom: 30px;
    }
    &__text{
      font-size: 16px;
      color: #666666;
      line-height: 32px;
      margin-bottom: 70px;
    }
  }
  .news-item:hover{
    .news-item__image{
      height: 280px;
      top: -20px;
      right: -20px;
      left: -20px;
      box-shadow: 7px 7px 47px -12px rgba(173,173,173,1);
    }
    .news-item__label{
      opacity: 1;
    }
  }
}
.map{
  &__content{
    height: 725px;
    width: 100%;
  }
  .map-contacts{
    margin-left: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(0, -50%);
    box-shadow: 7px 7px 47px -12px rgba(173,173,173,1);
    &__inner{
      background-color: #fff;
      padding: 50px 60px;
    }
    &__title{
      font-size: 36px;
      letter-spacing: 5px;
      font-weight: normal;
      margin-bottom: 45px;
    }
    &__line{
      margin-bottom: 30px;
      display: flex;
      align-items: center;
      &:last-child{
        margin-bottom: 0;
      }
    }

    &__line-text{
      margin-left: 25px;font-size: 18px;
      text-decoration: none;
      color: #393939;
    }
    a.map-contacts__line-text:hover{
      color: #707070;
    }
  }
}
