@import url('https://fonts.googleapis.com/css?family=Exo+2:400,700&subset=cyrillic');
@import 'header';
@import 'main';
@import 'footer';

*{
	position: relative;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	border: 0;
}

body{
	font-family: 'Exo 2', sans-serif;
	color: #393939;
}

