@import url("https://fonts.googleapis.com/css?family=Exo+2:400,700&subset=cyrillic");
.header {
  margin: 0 auto;
  padding: 0 180px;
  width: 1520px; }
  .header .header-nav {
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 25px 0; }
    .header .header-nav__logo-link {
      background-image: url("../image/logo.png");
      display: inline-block;
      width: 186px;
      height: 49px; }
    .header .header-nav__bar {
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      font-size: 16px; }
    .header .header-nav__bar-item {
      list-style: none;
      margin-right: 60px;
      cursor: pointer;
      padding-top: 25px; }
      .header .header-nav__bar-item span {
        padding-right: 20px; }
      .header .header-nav__bar-item span:after {
        content: '';
        width: 9px;
        height: 5px;
        background-image: url("../image/arrow-down.png");
        position: absolute;
        top: 50%;
        margin-top: -2px;
        right: 0; }
      .header .header-nav__bar-item:before {
        content: '';
        width: 100%;
        height: 2px;
        background-color: #0e7aff;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        -webkit-transition: opacity 0.5s ease;
        -o-transition: opacity 0.5s ease;
        -moz-transition: opacity 0.5s ease;
        transition: opacity 0.5s ease; }
      .header .header-nav__bar-item:last-child {
        margin-right: 0; }
      .header .header-nav__bar-item:hover:before {
        opacity: 1; }
    .header .header-nav__bar-item-link {
      text-decoration: none;
      color: #393939; }

.first-screen {
  width: 100%;
  height: 980px;
  background-image: url("../image/header__backgr.png");
  background-repeat: no-repeat;
  -moz-background-size: cover;
       background-size: cover;
  background-position: bottom right; }
  .first-screen__content {
    margin: 0 auto;
    padding: 0 180px;
    width: 1520px; }
  .first-screen__title {
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    font-size: 36px;
    padding-top: 185px;
    padding-bottom: 100px;
    line-height: 54px;
    letter-spacing: 3px; }
    .first-screen__title span {
      display: block;
      letter-spacing: 4px; }
  .first-screen__more {
    margin-bottom: 100px; }
  .first-screen .first-screen-info {
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 14px; }
    .first-screen .first-screen-info__item {
      width: 160px;
      height: 160px;
      border: 1px solid #fff;
      margin-right: 40px;
      padding: 35px 15px 20px 15px; }
      .first-screen .first-screen-info__item:after {
        content: '';
        width: 160px;
        height: 160px;
        border: 1px solid #0e7aff;
        position: absolute;
        top: 10px;
        left: -14px; }
      .first-screen .first-screen-info__item:last-child {
        margin-right: 0; }
    .first-screen .first-screen-info__icon {
      margin-bottom: 15px; }
    .first-screen .first-screen-info__text div:first-of-type {
      font-size: 18px;
      font-family: 'Exo 2 Medium', sans-serif; }
    .first-screen .first-screen-info__text div:nth-of-type(2) {
      font-size: 18px;
      font-family: 'Exo 2 Light', sans-serif; }
  .first-screen__black-button {
    position: absolute;
    right: 0;
    bottom: 0; }

.button-more {
  display: inline-block;
  text-decoration: none;
  border: 2px solid #fff;
  -moz-border-radius: 25px;
       border-radius: 25px;
  text-align: center;
  padding: 15px 35px;
  color: #393939;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .button-more__text {
    line-height: 1;
    font-size: 16px; }
  .button-more:after {
    position: absolute;
    top: 50%;
    right: -25px;
    width: 50px;
    height: 2px;
    background-color: #0e7aff;
    content: '';
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease; }
  .button-more:hover:after {
    width: 0; }

.black-button {
  background-color: #393939;
  padding: 40px 100px;
  width: 840px;
  text-decoration: none;
  color: #fff;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .black-button__text {
    font-family: "Exo 2", sans-serif;
    letter-spacing: 2px;
    text-align: left;
    text-transform: uppercase;
    font-size: 24px;
    margin-right: 60px; }
  .black-button__icon {
    width: 29px;
    height: 18px;
    -webkit-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    transition: all 0.7s ease;
    -webkit-transform: rotate(0deg);
       -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
         -o-transform: rotate(0deg);
            transform: rotate(0deg); }
  .black-button:hover .black-button__icon {
    -webkit-transform: rotate(360deg);
       -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
         -o-transform: rotate(360deg);
            transform: rotate(360deg); }

.for-clients__title {
  font-size: 36px;
  font-weight: normal;
  letter-spacing: 5px;
  padding: 115px 180px 75px 180px;
  width: 1520px;
  margin: 0 auto; }

.for-clients .for-clients-current {
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }
  .for-clients .for-clients-current__image-wrapper {
    width: 50%;
    padding-right: 120px;
    height: 560px; }
  .for-clients .for-clients-current__image {
    width: 100%;
    height: 100%;
    background-image: url("../image/current-clients-image.png");
    background-repeat: no-repeat;
    -moz-background-size: cover;
         background-size: cover;
    background-position: center; }
  .for-clients .for-clients-current__right {
    width: 400px;
    padding-left: 20px; }
  .for-clients .for-clients-current__title {
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 40px;
    padding-right: 80px; }
    .for-clients .for-clients-current__title:after {
      content: '';
      background-image: url("../image/cityscape.png");
      width: 60px;
      height: 60px;
      position: absolute;
      top: 50%;
      margin-top: -30px;
      right: 0; }
  .for-clients .for-clients-current__list {
    list-style: none;
    margin-bottom: 45px; }
  .for-clients .for-clients-current__list-item {
    font-size: 18px;
    margin-bottom: 25px;
    padding-left: 40px; }
    .for-clients .for-clients-current__list-item:before {
      content: '';
      position: absolute;
      height: 1px;
      width: 20px;
      background-color: #0e7aff;
      top: 50%;
      left: 0; }
  .for-clients .for-clients-current__more {
    border: 2px solid #0e7aff;
    margin-bottom: 40px; }

.for-clients .for-clients-owners {
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: flex-end;
     -moz-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }
  .for-clients .for-clients-owners__image-wrapper {
    width: 50%;
    padding-left: 120px;
    height: 560px; }
  .for-clients .for-clients-owners__image {
    width: 100%;
    height: 100%;
    background-image: url("../image/owners_image.png");
    background-repeat: no-repeat;
    -moz-background-size: cover;
         background-size: cover;
    background-position: center; }
  .for-clients .for-clients-owners__left {
    width: 580px;
    padding-top: 55px;
    padding-right: 120px; }
  .for-clients .for-clients-owners__title {
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 40px;
    padding-left: 94px; }
    .for-clients .for-clients-owners__title:after {
      content: '';
      background-image: url("../image/skyscraper.png");
      width: 54px;
      height: 60px;
      position: absolute;
      top: 50%;
      margin-top: -30px;
      left: 0; }
  .for-clients .for-clients-owners__list {
    list-style: none;
    margin-bottom: 45px;
    padding-left: 94px; }
  .for-clients .for-clients-owners__list-item {
    font-size: 18px;
    margin-bottom: 25px;
    padding-left: 40px; }
    .for-clients .for-clients-owners__list-item:before {
      content: '';
      position: absolute;
      height: 1px;
      width: 20px;
      background-color: #0e7aff;
      top: 50%;
      left: 0; }
  .for-clients .for-clients-owners__more {
    border: 2px solid #0e7aff;
    margin-left: 94px; }

.types__title {
  font-size: 36px;
  font-weight: normal;
  letter-spacing: 5px;
  padding: 115px 180px 75px 180px;
  width: 1520px;
  margin: 0 auto; }
  .types__title span {
    color: #0e7aff; }

.types .types-list {
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex; }
  .types .types-list__item-backgr {
    background: #eeeeee;
    -webkit-transition: background 0.5s ease;
    -o-transition: background 0.5s ease;
    -moz-transition: background 0.5s ease;
    transition: background 0.5s ease;
    padding: 30px;
    height: 100%; }
  .types .types-list__item {
    background-image: url("../image/types__backgr.png");
    background-position: center;
    background-repeat: no-repeat;
    -moz-background-size: cover;
         background-size: cover;
    width: 33.33%; }
  .types .types-list__item-inner {
    padding: 10px 15px 105px 65px;
    border: 1px solid transparent;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
    height: 100%; }
  .types .types-list__item-number {
    font-size: 108px;
    color: #d0d0d0;
    text-align: right;
    line-height: 90px;
    margin-bottom: 5px;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease; }
  .types .types-list__item-title {
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 35px;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease; }
  .types .types-list__item-text {
    font-size: 16px;
    color: #666666;
    line-height: 32px;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease; }
  .types .types-list__item-backgr--animated {
    background: rgba(238, 238, 238, 0); }
    .types .types-list__item-backgr--animated .types-list__item-inner {
      border: 1px solid #fff; }
    .types .types-list__item-backgr--animated .types-list__item-number,
    .types .types-list__item-backgr--animated .types-list__item-title,
    .types .types-list__item-backgr--animated .types-list__item-text {
      color: #fff; }

.about {
  overflow: hidden; }
  .about .about-block {
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: flex-end;
       -moz-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    background-color: #eeeeee;
    margin-top: 200px;
    padding-top: 75px;
    padding-bottom: 20px; }
    .about .about-block__descr {
      width: 700px;
      right: -120px; }
    .about .about-block__title {
      font-size: 36px;
      color: #0e7aff;
      letter-spacing: 5px;
      margin-bottom: 50px;
      font-weight: normal; }
    .about .about-block__preview {
      font-size: 24px;
      line-height: 48px;
      margin-bottom: 50px; }
    .about .about-block__text {
      font-size: 16px;
      color: #666666;
      line-height: 32px; }
    .about .about-block__image-wrapper {
      width: 50%;
      right: -120px;
      padding-left: 100px;
      padding-right: 120px;
      height: 760px; }
    .about .about-block__image {
      background-image: url("../image/about__first.png");
      background-position: center;
      -moz-background-size: cover;
           background-size: cover;
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
      margin-top: -155px; }
  .about .about-more {
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: flex-start;
       -moz-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-top: -100px; }
    .about .about-more__button-wrapper {
      padding-right: 120px;
      width: 50%; }
    .about .about-more .black-button {
      width: 100%;
      height: 100px;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: flex-end;
         -moz-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end;
      -webkit-align-items: center;
         -moz-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      padding: 0 60px 0 0;
      text-decoration: none;
      color: #fff; }
      .about .about-more .black-button__text {
        font-family: "Exo 2", sans-serif;
        letter-spacing: 2px;
        text-align: left;
        text-transform: uppercase;
        font-size: 24px;
        margin-right: 30px; }
      .about .about-more .black-button__icon {
        width: 29px;
        height: 18px; }
    .about .about-more__image {
      margin-left: 20px;
      width: 560px;
      height: 400px;
      background-image: url("../image/about__more.png");
      background-position: center;
      -moz-background-size: cover;
           background-size: cover;
      background-repeat: no-repeat; }

.news {
  margin: 0 auto;
  padding: 0 180px;
  width: 1520px;
  margin-bottom: 40px; }
  .news .news-header {
    padding-top: 105px;
    padding-bottom: 70px;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .news .news-header__title {
      font-size: 36px;
      letter-spacing: 5px;
      font-weight: normal; }
    .news .news-header .button-more {
      border: 2px solid #0e7aff;
      margin-right: 23px; }
  .news__items-wrapper {
    font-size: 0;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin: 0 -20px; }
  .news .news-item {
    -webkit-flex-basis: 33.33%;
        -ms-flex-preferred-size: 33.33%;
            flex-basis: 33.33%;
    padding-right: 20px;
    padding-left: 20px;
    display: inline-block;
    text-decoration: none;
    color: #393939;
    padding-top: 240px; }
    .news .news-item__image {
      position: absolute;
      top: 0;
      left: 20px;
      right: 20px;
      height: 240px;
      background-position: center;
      -moz-background-size: cover;
           background-size: cover;
      background-repeat: no-repeat;
      -webkit-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      transition: all 0.5s ease; }
    .news .news-item__label {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 70px;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-align-items: center;
         -moz-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-justify-content: flex-start;
         -moz-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      padding-left: 40px;
      background-color: #393939;
      opacity: 0;
      -webkit-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      transition: all 0.5s ease; }
    .news .news-item__label-text {
      font-size: 24px;
      color: #fff;
      margin-right: 15px;
      text-transform: uppercase;
      letter-spacing: 2px; }
    .news .news-item__title {
      margin-top: 35px;
      font-size: 24px;
      margin-bottom: 10px; }
    .news .news-item__date {
      font-size: 16px;
      color: #0e7aff;
      margin-bottom: 30px; }
    .news .news-item__text {
      font-size: 16px;
      color: #666666;
      line-height: 32px;
      margin-bottom: 70px; }
  .news .news-item:hover .news-item__image {
    height: 280px;
    top: -20px;
    right: -20px;
    left: -20px;
    -moz-box-shadow: 7px 7px 47px -12px #adadad;
         box-shadow: 7px 7px 47px -12px #adadad; }
  .news .news-item:hover .news-item__label {
    opacity: 1; }

.map__content {
  height: 725px;
  width: 100%; }

.map .map-contacts {
  margin-left: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(0, -50%);
     -moz-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
       -o-transform: translate(0, -50%);
          transform: translate(0, -50%);
  -moz-box-shadow: 7px 7px 47px -12px #adadad;
       box-shadow: 7px 7px 47px -12px #adadad; }
  .map .map-contacts__inner {
    background-color: #fff;
    padding: 50px 60px; }
  .map .map-contacts__title {
    font-size: 36px;
    letter-spacing: 5px;
    font-weight: normal;
    margin-bottom: 45px; }
  .map .map-contacts__line {
    margin-bottom: 30px;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .map .map-contacts__line:last-child {
      margin-bottom: 0; }
  .map .map-contacts__line-text {
    margin-left: 25px;
    font-size: 18px;
    text-decoration: none;
    color: #393939; }
  .map .map-contacts a.map-contacts__line-text:hover {
    color: #707070; }

.footer {
  margin: 0 auto;
  padding: 0 180px;
  width: 1520px;
  padding-top: 40px;
  padding-bottom: 65px;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex; }
  .footer .footer-logo-block {
    margin-right: 110px; }
    .footer .footer-logo-block__logo {
      width: 186px;
      height: 50px;
      margin-bottom: 30px;
      background-image: url("../image/logo.png");
      display: inline-block;
      text-decoration: none; }
    .footer .footer-logo-block__phone {
      font-size: 16px;
      color: #1e3162;
      margin-bottom: 35px;
      padding-left: 60px; }
    .footer .footer-logo-block__subscribe {
      font-size: 16px;
      color: #0e7aff;
      margin-bottom: 20px;
      padding-left: 60px; }
    .footer .footer-logo-block__input {
      background-color: #f9f9f9;
      width: 200px;
      height: 54px;
      -moz-border-radius: 24px;
           border-radius: 24px;
      border: 1px solid #eeeeee;
      padding: 0 60px;
      font-size: 14px;
      color: #707070;
      outline: none;
      font-family: 'Exo 2', sans-serif;
      font-weight: normal; }
    .footer .footer-logo-block__button {
      background-image: url("../image/subscribe-icon.png");
      top: 0;
      left: 0;
      position: absolute;
      width: 59px;
      height: 59px;
      background-color: transparent;
      outline: none;
      cursor: pointer; }
  .footer .footer-column {
    margin-right: 110px; }
    .footer .footer-column:last-child {
      margin-right: 0; }
    .footer .footer-column__list {
      list-style: none; }
    .footer .footer-column__title {
      text-decoration: none;
      font-size: 16px;
      letter-spacing: 2px;
      margin-top: 10px;
      margin-bottom: 25px;
      color: #393939;
      display: inline-block; }
      .footer .footer-column__title:hover {
        color: #0e7aff; }
    .footer .footer-column__list-item {
      font-size: 14px;
      margin-bottom: 15px; }
      .footer .footer-column__list-item:last-child {
        margin-bottom: 0; }
    .footer .footer-column__list-item-link {
      text-decoration: none;
      display: inline-block;
      color: #707070; }
      .footer .footer-column__list-item-link:hover {
        color: #393939; }

* {
  position: relative;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0; }

body {
  font-family: 'Exo 2', sans-serif;
  color: #393939; }
